.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: black;
  height: 8rem;
}

.header-link {
  font-size: 2rem;
  color: darkgray;
  font-weight: 200;
  cursor: pointer;
}

.header-link:hover {
  color: white;
  transition-duration: 600ms;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border-bottom: 1px solid gray;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-bottom: 3rem;
}

.preview-image {
  display: flex;
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.project-info-container {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.project-title-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  display: flex;
  justify-content: center;
}

.project-description {
  word-wrap: normal;
  font-size: 1.5rem;
}
